{% extends 'pages/base.html' %}

{% block title %} {{title}} {% endblock title%}

{% block pageName %} {{page_name}} {% endblock pageName %}

{% block main %}
    <main>
        <h1>About Us</h1>
        <section>
            <h2>Our Mission</h2>
            <p>Here, you can talk about the mission of your company. Explain what drives your business, your core values, and what you stand for.</p>
        </section>
    
        <section>
            <h2>Our Team</h2>
            <p>Introduce your team members. You might want to include photos, names, and a short description of their role in the company.</p>
            
        </section>
    
        <section>
            <h2>Our History</h2>
            <p>Provide a brief history of your company. When was it founded? What are some of the key milestones in your company's journey?</p>
        </section>
    
        <section>
            <h2>Contact Information</h2>
            <p>Include how customers can get in touch with you. This might be through email, phone, or your physical office location.</p>
        </section>
    </main>
{% endblock main %}