{% extends 'pages/base.html' %}

{% block title %} {{title}} {% endblock title%}

{% block pageName %} {{page_name}} {% endblock pageName %}

{% block main %}
    <main>
        <h1>Our Services</h1>
        <section>
            <h2>Service One</h2>
            <p>Describe your first service here. Explain what it entails, who it's for, and how it benefits your customers.</p>
        </section>
    
        <section>
            <h2>Service Two</h2>
            <p>Details about your second service. What makes it unique? How does it address your customers' needs or problems?</p>
        </section>
    
        <section>
            <h2>Service Three</h2>
            <p>Information about a third service offered. This might include special features, pricing, or customer testimonials.</p>
        </section>
    
        
    </main>
{% endblock main %}